<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quản lý hệ thống tạp hóa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/bootstrap.min.css" rel="stylesheet" />
        <link href="../css/adminstyle.css" rel="stylesheet" />
        <script src="../js/jquery-3.1.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="d-contain">
            <div id="d-navigation">
                <div id="menu"> Menu <i id="btn-show-menu" class="fa fa-bars" aria-hidden="true"></i></div>
                <ul id="sub-memu">
                    <li data="donhang" class="active"><i class="fa fa-university" aria-hidden="true"></i> Chi nhánh</li>
                    <li data="category"><i class="fa fa-address-card" aria-hidden="true"></i> Nhân viên</li>
                    <li data="sanpham"><i class="fa fa-object-group" aria-hidden="true"></i> Danh mục</li>
                    <li data="khuyenmai"><i class="fa fa-handshake-o" aria-hidden="true"></i> Đối tác</li>
                    <li data="phanhoi"><i class="fa fa-database" aria-hidden="true"></i> Kho hàng</li>
                    <li data="quangcao"><i class="fa fa-area-chart" aria-hidden="true"></i> Thống kê</li>
                    <li data="quangcao"><i class="fa fa-envelope" aria-hidden="true"></i> Tin nhắn</li>
                </ul>
            </div>
            <div id="d-content">
                <% include designscreen/branch.ejs %>
            </div>
            <div id="d-clear"></div>
        </div>
    </body>
</html>