<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quản lý hệ thống tạp hóa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/bootstrap.min.css" rel="stylesheet" />
        <link href="../css/adminstyle.css" rel="stylesheet" />
        <script src="../js/jquery-3.1.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="d-contain">
            <div id="d-navigation">
                <div id="menu"> Menu <i id="btn-show-menu" class="fa fa-bars" aria-hidden="true"></i></div>
                <ul id="sub-memu">
                    <li data="donhang"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Đơn hàng</li>
                    <li data="category"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Danh mục</li>
                    <li data="sanpham"><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true" ></span> Sản phẩm</li>
                    <li data="doitac"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Đối tác</li>
                    <li class="active" data="khuyenmai"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Khuyến mãi</li>
                    <li data="phanhoi"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Phản hồi</li>
                    <li data="quangcao"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Quảng cáo</li>
                </ul>
            </div>
            <div id="d-content">
                DỮ LIỆU ĐỒ VÀO
            </div>
            <div id="d-clear"></div>
        </div>
    </body>
</html>